body {
    margin: 0px;
    background-color: black;
}

.navbar-menu {
    display: flex;
    justify-content: center;
}

.navbar {
    background-color: black;
    height: 6%;
}

.navbar-brand {
    width: 5%;
    height: 100%;
}

.logoimggithub {
    width: 100%;
}

.navbar-start {
    margin-right: 0px;
}

.typecontain {
    padding: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.typinganimate p {
    color: white;
    font-weight: bolder;
    font-size: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    animation: typing 3.5s steps(24) infinite;
}

.typinganimate p::after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 1px;
    background: #dadada;
    right: 0;
    top: 0;
    animation: cursor 1s infinite;
}

h1 {
    font-family: Open sans;
    font-weight: 400;
    font-size: 150px;
    color: #f1f1f1;
    display: inline-block;
    margin-top: 100px;
    position: relative;
}

h1::after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 3px;
    background: #dadada;
    right: -15px;
    top: 0;
    animation: cursor 1s infinite;
}

@keyframes typing {
    0% {
        width: 0%;
    }

    80% {
        width: 100%;
    }

    99% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

@keyframes cursor {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.mainbanner{
    display: flex;
}

.imgbanner{
    width: 100%;
}

.imgbcontainer{
    margin: 4%;
    width: 20%;
    height: auto;
}

.Iam {
    margin-top: 20%;
    display: flex;  
    font: normal 70px/70px Montserrat, sans-serif;
    color: #999;
}

.Iam p {
    height: 70px;
    float: left;
    margin-right: 0.3em;
}

.Iam b {
    float: left;
    overflow: hidden;
    /* position: relative; */
    height: 70px;
    top: 70px;
}

.Iam .innerIam {
    display: inline-block;
    color: #e74c3c;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;


    -webkit-animation: move 10s;
    -moz-animation: move 10s;
    -ms-animation: move 10s;
    -o-animation: move 10s;
    animation: move 10s;

    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

@keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -70px;
    }

    40% {
        top: -140px;
    }

    80% {
        top: -70px;
    }
 
    100% {
        top: 0px;
    }

}

@-webkit-keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -70px;
    }

    40% {
        top: -140px;
    }

    80% {
        top: -70px;
    }

    100% {
        top: 0px;
    }

}

@-moz-keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -70px;
    }

    40% {
        top: -140px;
    }

    80% {
        top: -70px;
    }

    100% {
        top: 0px;
    }
}

@-o-keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -70px;
    }

    40% {
        top: -140px;
    }

    80% {
        top: -70px;
    }

    100% {
        top: 0px;
    }
}

@keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -70px;
    }

    40% {
        top: -140px;
    }

    80% {
        top: -70px;
    }

    100% {
        top: 0px;
    }
}
.logmed{
    margin: 2%;
}

.unduhcv{
    margin-top: 2%;
}

.medsosbanner{
    margin-top: 2%;
}